@font-face {
  font-family: 'Nasalization';
  src: url("../fonts/nasalization/onlinewebfonts.eot"); /* IE9*/
  src: url("../fonts/nasalization/onlinewebfonts.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/nasalization/onlinewebfonts.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/nasalization/onlinewebfonts.woff") format("woff"), /* chrome、firefox */
  url("../fonts/nasalization/onlinewebfonts.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/nasalization/onlinewebfonts.svg#NasalizationRg-Regular") format("svg"); /* iOS 4.1- */
}
@font-face {font-family: "Death Star";
  src: url("../fonts/deathstar/onlinewebfonts.eot"); /* IE9*/
  src: url("../fonts/deathstar/onlinewebfonts.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/deathstar/onlinewebfonts.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/deathstar/onlinewebfonts.woff") format("woff"), /* chrome、firefox */
  url("../fonts/deathstar/onlinewebfonts.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/deathstar/onlinewebfonts.svg#DeathStar") format("svg"); /* iOS 4.1- */
}




html, body {
    background: #222;
    overflow-x: hidden;
    width: 100vw;
    max-width: 100%;
}



/* LOADING */
.font-loading{
    color: white;
    font-family: "Death Star", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .lds-grid {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
  }
  .lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    animation: lds-grid 1.2s linear infinite;
  }
  .lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
  }
  .lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
  }
  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  
  



/* HERO */
#hero{
    min-height: 100vh;
    background: 
        /* url("../img/hero/hill_bg.svg"), */
        linear-gradient(#6c72a7 0%, #868bb6 25.77%, #b2b4d0 45.52%, #cccde0 100%);
    background-size: contain;
}




/* HERO CLOUDS */
.hero_clouds img{
    margin-top: 200px;
    position: absolute;
    z-index: 99;
    width: 90vw;
    animation: nudge 10s linear infinite;
}

@keyframes nudge {
    50% {
      transform: translate(10vw, 0);
    }
  }

  @media (max-width: 800px) {
    .hero_clouds img{
        margin-top: 100px;
        position: absolute;
        z-index: 99;
        width: 90vw;
    }
}



  
/* HILL MAIN */

.hill_main img{
    margin-top: -200px;
    width: 1000px;
}

@media (max-width: 800px) {
    .hill_main img{
        margin-top: 0px;
        width: 350px;
    }
}
.slide-in-blurred-top {
	-webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
            animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    -webkit-animation-delay: .5s;
            animation-delay: .5s;
}

 @-webkit-keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }




/* FONT HERO */
.m-300{
    margin-top: -300px;
}
.font-hero{
    font-family: "Death Star";
    font-weight: normal;
    font-size: 78px;
    letter-spacing: 0.15em;
    text-align: center;
    color: #f8cf97;
    text-shadow: 0px 12px 0px #917956;
}
@media (max-width: 800px) {
    .font-hero{   
        font-size: 30px;
        text-shadow: 0px 7px 0px #917956;
    }
    .m-300{
        margin-top: -50px;
    }
}

.slide-in-elliptic-top-fwd {
	-webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;

}

 @-webkit-keyframes slide-in-elliptic-top-fwd {
    0% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
  }
  @keyframes slide-in-elliptic-top-fwd {
    0% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
  }

.year_cmt{
    font-family: "Death Star";
    font-weight: normal;
    font-size: 78px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #D2861E;
}
@media (max-width: 800px) {
    .year_cmt{
        font-size: 30px;
    }
}

.roll-in-blurred-left {
	-webkit-animation: roll-in-blurred-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: roll-in-blurred-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    -webkit-animation-delay: 1.6s;
            animation-delay: 1.6s;
}
@-webkit-keyframes roll-in-blurred-left {
    0% {
      -webkit-transform: translateX(-1000px) rotate(-720deg);
              transform: translateX(-1000px) rotate(-720deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes roll-in-blurred-left {
    0% {
      -webkit-transform: translateX(-1000px) rotate(-720deg);
              transform: translateX(-1000px) rotate(-720deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  


/* Font Theme */

.font-theme{
    font-family: Nasalization;
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 0.15em;
    text-align: center;
    color: #d2861e;
}
@media (max-width: 800px) {
    .font-theme{
        font-size: 15px;
    }
}

.font-theme-detail{
    font-family: "Death Star";
    font-weight: normal;
    font-size: 50px;
    letter-spacing: 0.15em;
    text-align: center;
    color: #f8cf97;
    text-shadow: 0px 9px 0px #917956;
}
@media (max-width: 800px) {
    .font-theme-detail{
        font-size: 15px;
        text-shadow: 0px 3px 0px #917956;
    }
}

.the_date{
    border: 5px solid #917956;
    text-align: center;
    font-family: "Death Star";
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #D2861E;
}
@media (max-width: 800px) {
    .the_date{
        font-size: 15px;
        border: 2px solid #917956;
    }
}




/* FLOATING */
.floating-object{
  position: absolute;
  width: 100%;
}

.back-1 img{
  z-index: 1;
  width: 7em;
  position: absolute;
  left: -20em;
}

.back-2 img{
  z-index: -1;
  position: absolute;
  top: 50em;
  left: 2vw;
  width: 13em;
}

.back-3 img{
  z-index: -1;
  position: absolute;
  top: 15em;
  left: 40vw;
  width: 20em;
}

@media (max-width: 800px) {
  .back-1 img{
    z-index: -1;
    position: absolute;
    top: 10em;
    left: 0em;
    width: 5em;
  }

  .back-2 img{
    z-index: -1;
    position: absolute;
    top: 10em;
    left: 70vw;
    width: 7em;
  }

  .back-3 img{
    z-index: -1;
    position: absolute;
    top: 15em;
    left: 40vw;
    width: 3em;
  }

}




/* WHAT IS CMT */  
#what_is_cmt{
  height: 250vh;
  background:
      url("../img/whatiscmt/star.svg"), 
      linear-gradient(#cccde0 0%, #01132b 51.55%, #01132b 100%);
  padding-top: 30%;

}

#what_is_cmt .col-12{
  padding: 0px;
}

/* .center-vertical .center-to-parent{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} */

.container-text-whatiscmt{
  position: absolute;
  z-index: 99;
  max-width: 680px;
  left: 50%;
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}

.window{
  width: 100%;
}

.window object {
  width: 100%;
}

.ufo img{
  position: absolute;
  z-index: 0;
  left: -2em;
  max-width: 50%;
  width: 500px;
  padding-top: 20em;
}

.moonlight img{
  position: absolute;
  z-index: 0;
  margin-left: 70%;
  max-width: 30%;
  min-width: 30em;
}

.what_is_cmt_title{
  padding-bottom: 0.5em;
  font-family: "Death Star";
  font-weight: normal;
  font-size: 3em;
  letter-spacing: 0.15em;
  text-align: center;
  color: #fff;
  text-shadow: 0px 7px 0px #d2861e;     
}
.what_is_cmt_desc{
  font-family: Nasalization;
  font-weight: normal;
  font-size: 1.5em;
  text-align: center;
  color: #fff;
}


@media (max-width: 800px) {
  #what_is_cmt{
      height: 100vh;
  }
  .ufo img{
    width: 7em;
    padding-top: 2em;
  }
  .moonlight img{
    max-width: 30%;
    min-width: 5em;
    margin-left: 80%;
  }
  .what_is_cmt_title{

    padding-bottom: 0.5em;
    font-family: "Death Star";
    font-weight: normal;
    font-size: 1em;
    letter-spacing: 0.15em;
    text-align: center;
    color: #fff;
    text-shadow: 0px 5px 0px #d2861e;     
  }

  .what_is_cmt_desc{
    font-family: Nasalization;
    font-weight: normal;
    font-size: 0.5em;
    text-align: center;
    color: #fff;
  }
  .container-text-whatiscmt{
    max-width: 80vw;
    -ms-transform: translate(-50%, 30%);
    transform: translate(-50%, 30%);
  }

}

@media (max-width: 800px) and (orientation:landscape) {
  .container-text-whatiscmt{
    max-width: 80vw;
    -ms-transform: translate(-50%,-80%);
    transform: translate(-50%,-80%);
  }
}

