:root{
    --primaryColor:#1A237E;
    --primaryLightColor:#534BAE;
    --primaryDarkColor:#000051;
    --primaryTextColor:#FFFFFF;
    --primaryBlack:#282828;
    --backgroundColorSecond:#EEEEEE;
    --backgroundColorPrimary:#F5F5F6;
    --stabiloColor:#D1D5FF;
}

.highlight{
    background-color: var(--stabiloColor);
}


html{
    overflow-x: hidden;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
    background-color: var(--backgroundColorPrimary);
}
section{
    height: 100vh;
    padding: 50px 80px;
    /* width: 100vw; */
    scroll-snap-align: start;
}
section.hero{
    padding-top: 20px;
    padding-right: 0px;
}
section.dscHighlights{
    padding: 0px;
    margin-right: -15px;
    margin-left: -15px;
}
section.dscunikom{
    padding: 0px;
    margin-right: -15px;
    margin-left: -15px;
}

section.dscTechFest{
    padding: 0px;
    margin-right: -15px;
    margin-left: -15px;
}
@media (max-width: 800px) {
	section {
        padding: 30px 20px;    
    }
    #aboutDescription{
        height: inherit;
    }
    #dscHighlights{
        height: inherit;
    }
    #dscTechFest{
        height: inherit;
    }

}

/* Display */
@media (max-width: 800px) {
	.desktop-only {
		display: none;
	}
}

/* FONT */
.titleText{
    font-family: Futura Md BT;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 77px;
}
.subheadingText{
    font-family: Futura Md BT;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 0.5em;
}
.normalText{
    font-family: Futura Bk BT;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 0.2em;
}
.smallText{
    margin-top: 1.5em;
    
    font-family: Futura Bk BT;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
}
@media (max-width: 800px) {
    .titleText{

        font-size: 30px;
    }
    .normalText{
        font-size: 17px;
    }
    .subheadingText{
        font-size: 18px;
    }
    .smallText{
        font-size: 14px;    
    }
}
/* link */
a {
	text-decoration: none;
	opacity: 0.75;
}
a:hover {
	opacity: 1;
}
a.active{
    border-bottom: solid 4px var(--primaryLightColor);  
}
/* NAVBAR */
ul,
nav {
    list-style: none;  
}
header{
    display: flex;
    justify-content: space-between;  
    padding-bottom: 2em;
    padding-right: 80px;
}
@media (max-width: 800px) {
    header{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 1em;
        padding-right: 20px;
    }
    header a {
		margin-bottom: 15px;
	}
}
header nav{
    display: flex;
    
}
header nav li{
    margin: 0 15px;
}
header a{
    color: var(--primaryBlack);
}
.navbarLogo{
    width: 180px;
    /* height   : 71.46px; */
}
/* hero-content-area  */
.hero-content-area{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
}
.heroRight{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 65%;
    height: 80vh;
    background-color: var(--primaryDarkColor);
}
.heroRight .subheadingText{
    color: var(--primaryTextColor);
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}.heroRight .smallText{
    color: var(--primaryLightColor);
}
.primaryBox{
    position: absolute;
    top: 80%;
    left: -10%;
    width: 200px;
    height: 200px;
    background-color: var(--primaryColor);
}
@media (max-width: 800px) {
    .hero-content-area{
        align-items: flex-start;
        justify-content: flex-end;
    }
    .heroRight{
        align-content: flex-end;
        width: 85%;
        height: 60vh;
        margin-right: -15px;
    }
    .profilePicture{
        width: 100px;
    }
    .primaryBox{
        width: 100px;
        height: 100px; 
        left: -20%;
        top: 90%;
    }
}
/* about Description */
#aboutDescription{
    position: relative;
    display: flex;
    align-items: center;
}
.primaryLightBox{
    position: absolute;
    top: -10vh;
    left: 90vw;
    width: 70px;
    height: 100px;
    background-color: var(--primaryLightColor);
}
#aboutDescription .content-desc{
    padding: 0em 2em;
}
#aboutDescription img{
    z-index: 99;
/*     height: 461px; */
    width: 400px;
}
#aboutDescription hr{
    border: 2px solid var(--primaryColor);
}
@media (max-width: 1024px) {
    #aboutDescription{
        display: flex;
        flex-direction: column;
    }
    #aboutDescription .content-desc{
        padding: 0em 0em;
    }
    #aboutDescription img{
        align-self: center;
        height: 231px;
        width: 200px;
    }
    .primaryLightBox{
        position: absolute;
        top: -10vh;
        left: 90vw;
        width: 20px;

    }
}
/* dsc highlights */
.grid-container-2{
    display: grid;
    grid-template-columns: 50% 50%;
}
@media (max-width: 800px) {
    .grid-container-2{
        grid-template-columns: 100%;
    }
}
.dscHighlights{
    overflow: hidden;
}
.dscHighlightsLeft{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px 55px 15px 50px;
    background-color: var(--primaryDarkColor);
    color: var(--primaryTextColor);
}
.multibox-3{
    position: absolute;
    right: -50px;
    width: 100px;
    height: 50px;
    background-color: var(--primaryLightColor);
}
.dscHighlightsLeft .avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.dscHighlightsLeft img {
    object-fit: cover;
}

@media (max-width: 800px) {
    .dscHighlightsLeft{
        padding: 30px 35px;
    }
    .multibox-3{
        position: absolute;
        right: -50px;
        width: 80px;
        height: 30px;
        background-color: var(--primaryLightColor);
    }
    .dscHighlightsLeft .avatar {
        border-radius: 50%;
        object-fit: fill;
        width: 100px;
        height: 100px;
    }
}
.dscHighlightsRight{
    position: relative;
    overflow: hidden;
    min-height: 50vh;
}
.dscunikomLeft{
    position: relative;
    overflow:hidden;
    min-height: 50vh;
}
.dscunikomRight{
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px 50px;
    color: var(--primaryTextColor);
    background-color: var(--primaryLightColor);
}
@media (max-width: 800px) {
    .dscunikomRight{
        padding: 30px 35px;
    }
}
.learnMore{
    position: relative;
}
.learnMore a{
    color: var(--primaryTextColor);
}
.multibox-1{
    position: absolute;
    top: -70%;
    right: 10%;
    width: 50px;
    height: 50px;
    background-color: var(--primaryColor);
}
.multibox-2{
    position: absolute;
    top: -130%;
    right: 25%;
    width: 50px;
    height: 50px;
    background-color: var(--primaryDarkColor);
}
.dscTechFestRight{
    position: relative;
    overflow:hidden;
    min-height: 50vh;
}
.dscTechFestLeft{
    position: relative;
    display: flex;
    flex-direction: column;
    
    padding: 50px 50px;
    color: var(--primaryTextColor);
    background-color: var(--primaryColor);
}
.dscTechFestLeft img{
    align-self: center;
    width: 400px;
    margin-top: 2em;
}
@media (max-width: 800px) {
    .dscTechFestLeft{
        padding: 30px 35px;
    }
    .dscTechFestLeft img{
        align-self: center;
        width: 200px;
        margin-top: 1em;
    }
}
figure{
    position: absolute;
    z-index: -99;
    top: -20px;
    left: -40px;
    width: 100%;
    height: 100%;
    opacity: 0;
    /*animation*/

    animation: slideShow 24s linear infinite 0s;
    -o-animation: slideShow 24s linear infinite 0s;
    -moz-animation: slideShow 24s linear infinite 0s;
    -webkit-animation: slideShow 24s linear infinite 0s;
}
.pic-1{
    opacity: 1;
    background: url(../img/dsc/summit.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.pic-2 {
    animation-delay: 6s;
    -o-animation-delay: 6s;
    -moz--animation-delay: 6s;
    -webkit-animation-delay: 6s;
    background: url(../img/dsc/alex_top_dsc_leads.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.pic-3 {
    animation-delay: 12s;
    -o-animation-delay: 12s;
    -moz--animation-delay: 12s;
    -webkit-animation-delay: 12s;
    background: url(../img/dsc/dsc_cultural.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.pic-4 {
    animation-delay: 18s;
    -o-animation-delay: 18s;
    -moz--animation-delay: 18s;
    -webkit-animation-delay: 18s;
    background: url(../img/dsc/kl_summit.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} 
.pic-5{
    opacity: 1;
    background: url(../img/dsc/dscinfosesion2.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.pic-6 {
    animation-delay: 6s;
    -o-animation-delay: 6s;
    -moz--animation-delay: 6s;
    -webkit-animation-delay: 6s;
    background: url(../img/dsc/dscml.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.pic-7 {
    animation-delay: 12s;
    -o-animation-delay: 12s;
    -moz--animation-delay: 12s;
    -webkit-animation-delay: 12s;
    background: url(../img/dsc/dscfrontend.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.pic-8 {
    animation-delay: 18s;
    -o-animation-delay: 18s;
    -moz--animation-delay: 18s;
    -webkit-animation-delay: 18s;
    background: url(../img/dsc/dscgolang.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.pic-9 {
    animation-delay: 22s;
    -o-animation-delay: 22s;
    -moz--animation-delay: 22s;
    -webkit-animation-delay: 22s;
    background: url(../img/dsc/dsckotlin.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.pic-10{
    opacity: 1;
    background: url(../img/dsc/techfest1.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.pic-11 {
    animation-delay: 6s;
    -o-animation-delay: 6s;
    -moz--animation-delay: 6s;
    -webkit-animation-delay: 6s;
    background: url(../img/dsc/techfest2.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.pic-12 {
    animation-delay: 12s;
    -o-animation-delay: 12s;
    -moz--animation-delay: 12s;
    -webkit-animation-delay: 12s;
    background: url(../img/dsc/techfest3.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.pic-13 {
    animation-delay: 18s;
    -o-animation-delay: 18s;
    -moz--animation-delay: 18s;
    -webkit-animation-delay: 18s;
    background: url(../img/dsc/techfest10.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} 
/*  */
@keyframes slideShow{0%{opacity:0;transform:scale(1);-ms-transform:scale(1)}5%{opacity:1}25%{opacity:1}30%{opacity:0;transform:scale(1.1);-ms-transform:scale(1.1)}100%{opacity:0;transform:scale(1);-ms-transformm:scale(1)}}@-o-keyframes slideShow{0%{opacity:0;-o-transform:scale(1)}5%{opacity:1}25%{opacity:1}30%{opacity:0;-o-transform:scale(1.1)}100%{opacity:0;-o-transformm:scale(1)}}@-moz-keyframes slideShow{0%{opacity:0;-moz-transform:scale(1)}5%{opacity:1}25%{opacity:1}30%{opacity:0;-moz-transform:scale(1.1)}100%{opacity:0;-moz-transformm:scale(1)}}@-webkit-keyframes slideShow{0%{opacity:0;-webkit-transform:scale(1)}5%{opacity:1}25%{opacity:1}30%{opacity:0;-webkit-transform:scale(1.1)}100%{opacity:0;-webkit-transformm:scale(1)}}
/*  */

